<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <title>Анализатор страниц</title>
    </head>
    <body class="min-vh-100 d-flex flex-column">
        <header>{% include 'header.html' ignore missing %}</header>
        <main class="flex-grow-1">
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <div class="container-lg mt-3">
                <h1>Сайт: {{ url.name }}</h1>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover text-nowrap" data-test="url">
                        <tbody>
                        <tr>
                            <td>ID</td>
                            <td>{{ id }}</td>
                        </tr>
                        <tr>
                            <td>Имя</td>
                            <td>{{ url.name }}</td>
                        </tr>
                        <tr>
                            <td>Дата создания</td>
                            <td>{{ url.created_at }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <h2 class="mt-5 mb-3">Проверки</h2>
                <form method="post" action="{{ url_for('post_check', id=id) }}">
                    <input type="submit" class="btn btn-primary" value="Запустить проверку">
                </form>   
                <div>
                    <table class="table table-bordered table-hover mt-2" data-test="checks">
                        <thead>
                            <tr>
                            <th>ID</th>
                            <th>Код ответа</th>
                            <th>h1</th>
                            <th>title</th>
                            <th>description</th>
                            <th>Дата создания</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for check in checks %}
                                <tr>
                                    <td>{{ check.id }}</td>
                                    <td>{{ check.code }}</td>
                                    <td>{{ check.h1 }}</td>
                                    <td>{{ check.title }}</td>
                                    <td>{{ check.description }}</td>
                                    <td>{{ check.created_at }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
        <footer class="border-top py-3 mt-5 flex-shrink-0">{% include 'footer.html' ignore missing %}</footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    </body>
</html>